<div class="row">
    <div class="col-md-5">
        <!-- <app-recipe-list (showRecipe)="selectedRecipe = $event"></app-recipe-list> -->
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-detail> -->
        <app-recipe-detail *ngIf="recipeSelected; else infoText" [recipe]="recipeSelected"></app-recipe-detail>
    </div>
    <ng-template #infoText>
        <p>Please select a Recipe!</p>
    </ng-template>
</div>